<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./../style/style.css">
    <link rel="stylesheet" href="./../style/font_style.css">
</head>

<body>
    <header>
        <nav>
            <ul id="menu">
                <li> <a href="./../index.html"> Home</a></li>
                <li> <a class="activ" href="steckbrief.html"> Steckbrief</a></li>
                <li> <a href="meinBrief.html"> Mein Brief</a></li>
                <li> <a href="stundenplan.html"> Stundenplan</a></li>
                <li> <a href="kontaktdaten.html"> Kontaktdaten</a> </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">

            <img src="./../img/Dieterich_Paul_geschnitten.png" width="450px" height="600px" />


        </div>
        <div class="beschreibung">


            <h> Dokumentation Aufgabe 01 Steckbrief.</h2>



                Bearbeitung einer existierenden Vorlage mit Adobe Illistrator.
                Erstellung eines Steckbriefs mit Integration zwei Selbstporträts mit PhotoBooth erstellt und per
                Schnittmasken eingefügt.

        </div>



    </main>

</body>
<footer>
    <ul id="menu">
        <li>
            <p><a href="index.html"> Home</a> </p>
        </li>
        <li>
            <p><a class="activ" href="steckbrief.html"> Steckbrief</a></p>
        </li>
        <li>
            <p><a href="meinBrief.html"> Mein Brief</a></p>
        </li>
        <li>
            <p><a href="stundenplan.html"> Stundenplan</a></p>
        </li>
        <li>
            <p><a href="kontaktdaten.html"> Kontaktdaten</a></p>
        </li>
    </ul>
    <ul>
        <li>
            <p> Paul Dieterich</p>
        </li>
        <li>
            <p> Schaumburger Strasse 50</p>
        </li>
        <li>
            <p> 28205 Bremen</p>
        </li>
        <li> <a href="mailto:paul.dieterich@hs-osnabrueck.de"> paul.dieterich@hs-osnabrueck.de</a></li>
    </ul>
</footer>

</html>