<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <header>
                <nav>
                    <ul> 
                        <li> <a href="steckbrief.html" target="inhalt"> Steckbrief</a></li>
                        <li> <a href="meinBrief.html" target="inhalt"> Mein Brief</a></li>
                        <li> <a href="stundenplan.html" target="inhalt" > Stundenplan</a></li>
                        <li> <a href="kontaktdaten.html" target="inhalt" > Kontaktdaten</a> </li>
                    </ul>
                </nav>
            </header>
</body>
</html>