<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
            <nav>
                <ul> 
                    <li> <a href="steckbrief.html" target="inhalt"> Steckbrief</a></li>
                    <li> <a href="meinBrief.html" target="inhalt"> Mein Brief</a></li>
                    <li> <a href="stundenplan.html" target="inhalt" > Stundenplan</a></li>
                    <li> <b><a href="kontaktdaten.html" target="inhalt" > Kontaktdaten</a></b> </li>
                </ul>
            </nav>
    </header>
    <main>
        <div>
            <p> Paul Dieterich <br>
                Schaumburger Straße 50 <br>
                28205 Bremen <br>
            </p>
            <a href="mailto:paul.dieterich@hs-osnabrueck.de"> paul.dieterich@hs-osnabrück.de </a>
        </div>
        <div>
            <button onClick="alert('User interface entwicklung')"> Klick mich</button>
        </div>
    </main>
</body>
</html>