<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
            <nav>
                <ul> 
                    <li> <b><a href="steckbrief.html" target="inhalt"> Steckbrief</a></b></li>
                    <li> <a href="meinBrief.html" target="inhalt"> Mein Brief</a></li>
                    <li> <a href="stundenplan.html" target="inhalt" > Stundenplan</a></b></li>
                    <li> <a href="kontaktdaten.html" target="inhalt" > Kontaktdaten</a> </li>
                </ul>
            </nav>
    </header>
    <main>
        <img src="./../img/Dieterich_Paul.png" width="80%" height="80%"/>


    </main>
</body>
</html>