<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<!--
<style>
td{border: 1px solid black; }
th{ border: 1px solid black;}
.leer{
    border: none;
} 
</style>
-->

<body>
        <header>
                <nav>
                    <ul> 
                        <li> <a href="steckbrief.html" target="inhalt"> Steckbrief</a></li>
                        <li> <a href="meinBrief.html" target="inhalt"> Mein Brief</a></li>
                        <li> <b><a href="stundenplan.html" target="inhalt" > Stundenplan</a></b></li>
                        <li> <a href="kontaktdaten.html" target="inhalt" > Kontaktdaten</a> </li>
                    </ul>
                </nav>
            </header>
        <main>
            <table>
                <tr> 
                    <th></th>
                    <th> Montag</th>
                    <th> Dienstag</th>
                    <th> Mittwoch</th>
                    <th> Donnerstag</th>
                    <th> Freitag</th>
                </tr>
                <tr>
                    <th> 8:00</th>
                    <td class="leer"></td>
                    <td rowspan="2"> Technische Grundlagen MI</td>
                    <td rowspan="2"> Grundlagen User Interface</td>
                    <td rowspan="2"> Technische Grundlagen MI</td>
                </tr>
                <tr>
                    <th> 9:00</th>
                </tr>
                <tr>
                    <th> 10:00</th>
                    <td rowspan="2"> Mahte Übung</td>
                    <td rowspan="2"> Mathematik I</td>
                    <td rowspan="2"> Mathematik I</td>
                    <td rowspan="2"> Mathematik I</td>
                    <td rowspan="2"> Technische Grundlagen MI</td>
                </tr>
                <tr>
                    <th> 11:00</th>
                </tr>
                <tr>
                        <th> 12:00</th>
                        <td rowspan="2"> Programmierung I</td>
                        <td rowspan="2"> Programmierung I Tutorum</td>
                        <td rowspan="2"> Grundlagen User Interface Praktikum</td>
                        <td rowspan="2"> Programmierung I </td>
                        <td rowspan="4"> Orientierung und Methoden</td>
                </tr>
                <tr>
                    <th> 13:00</th>
               
                </tr>
                <tr>
                    <th> 14:00</th>
                    <td  rowspan="2"> Programmierung Praktikum</td>
                    <td class="leer">   </td>
                    <td class="leer">  </td>
                    <td rowspan="2"> Programmierung Praktikum</td>
                    
                </tr>
                <tr>
                    <th> 15:00</th>
                </tr>
                <tr>
                    <th> 16:00</th>
                </tr>
                <tr>
                    <th> 17:00</th>
                </tr>
            </table>
        </main>
</body>
</html>