<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Paul Dieterich">
    <title>AB6 - stundenplan</title>
    <link rel="stylesheet" href="./../style/style.css">
    <link rel="stylesheet" href="./../style/font_style.css">

</head>

<body>
    <header>
        <nav>
            <ul id="menu">
                <li> <a href="./../index.html"> Home</a></li>
                <li> <a href="steckbrief.html"> Steckbrief</a></li>
                <li> <a href="meinBrief.html"> Mein Brief</a></li>
                <li> <a class="activ" href="stundenplan.html"> Stundenplan</a></li>
                <li> <a href="form.html"> form</a></li>
                <li> <a href="kontaktdaten.html"> Kontaktdaten</a> </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div>
                <div id="table">
                    <table>
                        <tr>
                            <th class="leer"></th>
                            <th> Montag</th>
                            <th> Dienstag</th>
                            <th> Mittwoch</th>
                            <th> Donnerstag</th>
                            <th> Freitag</th>
                        </tr>
                        <tr>
                            <th> 8:00</th>
                            <td class="leer"></td>
                            <td rowspan="2"> Technische Grundlagen MI</td>
                            <td rowspan="2"> Grundlagen User Interface</td>
                            <td rowspan="2"> Technische Grundlagen MI</td>
                        </tr>
                        <tr>
                            <th> 9:00</th>
                        </tr>
                        <tr>
                            <th> 10:00</th>
                            <td rowspan="2"> Mahte Übung</td>
                            <td rowspan="2"> Mathematik I</td>
                            <td rowspan="2"> Mathematik I</td>
                            <td rowspan="2"> Mathematik I</td>
                            <td class="leer"></td>
                        </tr>
                        <tr>
                            <th> 11:00</th>
                        </tr>
                        <tr>
                            <th> 12:00</th>
                            <td rowspan="2"> Programmierung I</td>
                            <td rowspan="2"> Programmierung I Tutorum</td>
                            <td rowspan="2"> Grundlagen User Interface Praktikum</td>
                            <td rowspan="2"> Programmierung I </td>
                            <td rowspan="4"> Orientierung und Methoden</td>
                        </tr>
                        <tr>
                            <th> 13:00</th>

                        </tr>
                        <tr>
                            <th> 14:00</th>
                            <td rowspan="2"> Programmierung Praktikum</td>
                            <td rowspan="2"> Technische Grundlagen MI </td>
                            <td class="leer"> </td>
                            <td rowspan="2"> Programmierung Praktikum</td>

                        </tr>
                        <tr>
                            <th> 15:00</th>
                        </tr>
                        <tr>
                            <th> 16:00</th>
                        </tr>
                        <tr>
                            <th> 17:00</th>
                        </tr>
                    </table>
                </div>
                <div>
                    <button class="button" id="lieblingsfach" onClick="alert('User interface entwicklung')">
                        meinem Lieblingsfach
                    </button>
                </div>
            </div>
        </div>
        <div class="beschreibung">
            <h2> Dokumentation zu Aufgabe 02 BriefHTML5</h2>


            Formatierung eines Briefes in HTML5 unter Verwendung von Tags und Meta Daten mit dem VS Code Entwickelt,
            Geprüft in Google Chrome und Firefox und in Validator von der w3c


        </div>
    </main>

</body>


</html>